@{
    ViewData["Title"] = "Inicio";
}

<section class="py-5 text-center" style="background-image: url('/dist/image/banner3.png.webp');background-size: cover;background-repeat: no-repeat;height: 400px;">
    <div class="container-fluid py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold text-white">DAS TRAVEL</h1>
            <p class="lead text-white fw-bold">Agencia de viajes en El Salvador, vuelos, paquetes de viajes y excursiones locales. Escapadas cortas y mas.</p>
            <p>
                <a href="#" class="btn btn-danger my-2">Conocer más</a>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="" id="dondeVoy" style="background: #040E27;padding: 50px 0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="text-white">
                        <h3>¿Donde voy?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" class="input-agency-donbosco" placeholder="Destino">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="input-agency-donbosco datepicker" placeholder="Desde">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="input-agency-donbosco datepicker" placeholder="Hasta">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger btn-lg w-100">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="text-center mt-5 mb-5">
                <h1 class="font-monospace">Destinos Recomendados</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">

                <!-- Card 1 -->
                <div class="col">
                    <a asp-controller="Home" asp-action="Privacy" style="text-decoration: none !important;">
                        <div class="card">
                            <img src="~/dist/image/1.png.webp" class="card-img-top" alt="Imagen 1">
                            <div class="card-body">
                                <h5 class="card-title fw-semibold">Título 1</h5>
                                <p class="card-text" style="color: #9a9999;">Breve descripción 1.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Card 2 -->
                <div class="col">
                    <a asp-controller="Home" asp-action="Privacy" style="text-decoration: none !important;">
                        <div class="card">
                            <img src="~/dist/image/2.png.webp" class="card-img-top" alt="Imagen 1">
                            <div class="card-body">
                                <h5 class="card-title fw-semibold">Título 2</h5>
                                <p class="card-text" style="color: #9a9999;">Breve descripción 2.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Card 3 -->
                <div class="col">
                    <a asp-controller="Home" asp-action="Privacy" style="text-decoration: none !important;">
                        <div class="card">
                            <img src="~/dist/image/3.png.webp" class="card-img-top" alt="Imagen 1">
                            <div class="card-body">
                                <h5 class="card-title fw-semibold">Título 3</h5>
                                <p class="card-text" style="color: #9a9999;">Breve descripción 3.</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>

</main>

