@model IEnumerable<AgenciaViajes.Models.Destino>

@{
    ViewData["Title"] = "Inicio";
}

<section class="py-5 text-center" style="background-image: url('/dist/image/banner3.png.webp');background-size: cover;background-repeat: no-repeat;height: 400px;">
    <div class="container-fluid py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold text-white">DAS TRAVEL</h1>
            <p class="lead text-white fw-bold">Agencia de viajes en El Salvador, vuelos, paquetes de viajes y excursiones locales. Escapadas cortas y mas.</p>
            <p>
                <a href="#" class="btn btn-danger my-2">Conocer más</a>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="" id="dondeVoy" style="background: #040E27;padding: 50px 0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="text-white">
                        <h3>¿Donde voy?</h3>
                    </div>
                </div>
                        <section class="py-5 text-center" style="background-color: #040E27;">
                            <div class="container-fluid py-lg-3">
                                <h2 class="fw-bold text-white">Buscar Destinos</h2>
                                <!-- Formulario de búsqueda -->
                                <form asp-action="Buscar" asp-controller="Home" method="post" class="form-inline d-flex justify-content-center">
                                    <input class="form-control mr-sm-2" type="search" name="criterioDeBusqueda" placeholder="Buscar destino" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                                </form>
                            </div>
                        </section>
            </div>
        </div>
    </div>
</section>

<main>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="text-center mt-5 mb-5">
                <h1 class="font-monospace">Destinos Recomendados</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                @foreach (var item in Model)
                {
                    <div class="col">
                        <a asp-controller="Home" asp-action="Privacy" asp-route-id="@item.DestinoId"  style="text-decoration: none !important;">
                            <div class="card">
                                <img src="@Html.DisplayFor(modelItem => item.ImagenUrl)" class="card-img-top" alt="Imagen 1">
                                <div class="card-body">
                                    <h5 class="card-title fw-semibold">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                                    <p class="card-text" style="color: #9a9999;">
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>

        </div>
    </div>

</main>

