@{
    ViewData["Title"] = "Iniciar Sesion";
}
<div class="body-login">
    <div class="container" style="height: 650px">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">
                <div class="card mt-5" >
                    <div class="card-header">
                        Iniciar Sesion
                    </div>
                    <div class="card-body">
                        <form asp-controller="Inicio" asp-action="IniciarSesion" method="post">

                            <div class="logo-redondo">
                                <img src="~/img/logo1.png" alt="logo" alt="logo" class="mb-3 logo-redondo" />
                            </div>

                            <input class="form-control mb-3" type="text" placeholder="Email" required name="email" />
                            <input class="form-control mb-3" type="password" placeholder="password" required name="password" />
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿No tienes cuenta?  <a href="@Url.Action("Registrarse", "Inicio")"> Registrate!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

   