@model AgenciaViajes.Models.Usuario;

@{
    ViewData["Title"] = "Registrarse";
}

<div class="registrate-body" style="height: 750px">

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        Registrate
                    </div>
                    <div class="card-body">
                        <form asp-controller="Inicio" asp-action="Registrarse" method="post">

                            <div class="logo-registrarse">
                                <img src="~/img/logo4.png" alt="logo" class="mb-3 logo-Registrate" />
                            </div>

                            <input class="form-control mb-3" type="text" placeholder="Nombre" asp-for="Nombre" required />
                            <input class="form-control mb-3" type="email" placeholder="Email" asp-for="Email" required />
                            <input class="form-control mb-3" type="password" placeholder="password" asp-for="Contrasena" required />
                            <select class="form-control mb-3" asp-for="TipoUsuario" required>
                                <option value="">Selecciona un tipo de usuario</option>
                                <option value="Invitado">Invitado</option>
                                <option value="Registrado">Registrado</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Registrarse</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿Ya tienes cuenta?  <a href="@Url.Action("IniciarSesion", "Inicio")"> Iniciar Sesion</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

   
</div>